workspace/WS_Security_Authentication_New/WS_NEWFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/WS_NEWFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WS_NEWFile/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="NewOperation">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="Indata" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="NewOperationResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="Outdata" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
